<div class="header py-4" style="background-color: rgb(17, 74, 196);">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-5 col-md-1 d-flex align-items-start justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <div *ngIf="loggedIn()">
            <div>
              <a class="welcome-text" style="white-space: nowrap; text-decoration: none; font-size: 28px; color: black;">Welcome {{ currentUser().firstName }}</a>
              <!-- Move the Create Note button here -->
              <a routerLink="/createnotes" class="btn btn-primary mt-2 crnotes">Create Note</a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="product-title">Note App</h3>
      <div class="col-6 col-md-1 text-end">
        <div *ngIf="loggedIn()">
          <!-- Leave the Logout button here -->
          <button class="btn btn-primary" type="button" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>User's Notes</h1><br>
  <div class="row">
    <div class="col-md-4" *ngFor="let note of notes">
      <div class="card mb-3 note-card">
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">{{ note.description }}</p>
          <button (click)="deleteNote(note.id)">delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
