.btn-primary,
.btn-outline-dark {
  font-size: 20px; 
  border-width: 2px; 
}

.text-success{
    margin-left: 700px;
}
.product-title {
    font-weight: bold;
    font-size: 2.3rem;
    margin: 0;
    color: rgb(10, 10, 10);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .crnote{
    margin-left:250px ;
    
  }